<!DOCTYPE html>
<html>

<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Welcome to sqlite-app</title>

  <!-- styles -->
  {% style "/assets/bulma/css/bulma.css" %} {% style "/assets/font-awesome/web-fonts-with-css/css/fontawesome-all.min.css"
  %} {% style "/css/screen.css" %}
</head>

<body>
  <!-- navbar -->
  <nav class="navbar is-info" role="navigation" aria-label="main navigation">
    <div class="container">
      <div class="navbar-brand">
        <a class="navbar-item" href="{{servlet-context}}/">SQLite App</a>
      </div>
    </div>
  </nav>

  <section class="section">
    <div class="container">
      {% block content %} {% endblock %}
    </div>
  </section>

  <!-- scripts -->
  {% script "/assets/jquery/jquery.min.js" %} 
  {% script "/assets/font-awesome/svg-with-js/js/fontawesome.min.js" %}
  {% script "/assets/tether/dist/js/tether.min.js" %}
  {% script "/js/app.js" %}

  <script type="text/javascript">
    var context = "{{servlet-context}}";
  </script>
  {% block page-scripts %} {% endblock %}
</body>

</html>